/*
    Fonts

font-family: 'Raleway', sans-serif;

font-family: 'Merriweather', serif;

*/

    /*Resets CSS and Gives Global Font*/
html, body {
    margin: 0;
    padding: 0;
    font-size: 25px;
    overflow-x: hidden;
}

    /*Centers Main Container*/
.whole-con {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

    /*Header with name plus EWGF with space between*/
header.header  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
    font-variant: small-caps;
    border-bottom: navy 5px solid;
}
    /*puts name after EWGF*/
header.header .name-title {
    order: 1;
}
    /*aligns the title undertext to the right*/
header.header .name-title p {
    font-size: 75%;
    text-align: right;
    font-family: 'Merriweather', serif;
}
    /*aligns the header title to the right*/
h1 {
    text-align: right;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}

    /*puts EWGF into a row*/
header.header div.move-string {
    display: flex;
    flex-direction: row;
    height: 150px;
}

        /* EWGF */
header.header div.move-string img {
    width: 30px;
    height: 100%;
}

    /*Hero Container Spans 100% Of The Viewport*/
div.hero {
    width: 100%;
}

    /*Hero Img spans 100% Of The Hero Container*/
div.hero img {
    width: 100%;
}

    /*Thumbnail Container*/
.img-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 650px;
}

    /*Thumbnail Size*/
div.img-con img {
    width: 250px;
    height: 150px;
}

    /*Removes underline from link*/
div.img-con div.thumbnail a {
    text-decoration: none;
    color: black;
}

    /*Text Below Thumbnail*/
div.img-con div.thumbnail p {
    font-size: 60%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

    /*My Links header*/
h3 {
    margin-top: 15px;
    padding-left: 5px;
    font-size: 75%;
    text-align: center;
    font-family: 'Merriweather', serif;
}

        /*Footer*/

footer div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #24292e;
    font-family: 'Merriweather', serif;
    color: white;
    text-decoration: unset;
    list-style: unset;
}

footer div.icon-link a svg {
    fill: rgba(255, 255, 255, 0.589);
}

footer div.icon-link a svg:hover {
    fill: white;
}

        /*Breakpoints*/

@media screen and (min-width: 768px) {
    header.header .name-title {
        font-size: 140%;
        padding-right: 5px;
    }

        /*Moves "My Links" to the left with styles*/
    h3 {
        text-align: left;
        font-size: 100%;
        border-left: #6e6effa6 8px solid;
        margin-left: 10px;
    }

    .img-con {
        flex-direction: row;
        height: 350px;
    }
}

    /*Thumbnail/icon hover when min-width 850px*/
@media screen and (min-width: 850px) {
    div.img-con img:hover {
        width: 300px;
        height: 200px;
        transition-property: all;
        transition-duration: 1.5s;
    }

    header.header 
    div.move-string img:hover {
        width: 50px;
        transition-property: all;
        transition-duration: 1.5s;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 150%;
    }

    h3 {
        font-size: 100%;
    }

    div.img-con div.thumbnail p {
        font-size: 65%;
    }

        /*Fixed height for hero img + overflow*/
    .hero {
        margin: auto;
        height: 350px;
        overflow: hidden;
    }

        /*Switches Thumbnails to Row*/
    .img-con {
        flex-direction: row;
        justify-content: space-around;
    }

        /*Icons 10px bigger*/
    header.header div.move-string img {
        width: 50px;
    }

    header.header 
    div.move-string img:hover {
        width: 60px;
        transition-property: all;
        transition-duration: 1.5s;
    }
}